@import "~bootstrap/scss/bootstrap";

.page-link.active,
.active > .page-link {
    border-color: black;
    background-color: black;
}

.page-link {
    color: black;
}

.jumbotron {
    min-height: 100vh;
}

img {
    max-width: 500px;
    &.thumbnail {
        max-width: 50px;
    }
}

tr {
    vertical-align: middle;
}

i {
    font-size: 1.5rem;
    vertical-align: middle;
}
