@import "~bootstrap/scss/bootstrap";

.jumbotron {
    min-height: 100vh;
}

img {
    max-width: 500px;
    &.thumbnail {
        max-width: 50px;
    }
}

tr {
    vertical-align: middle;
}

i {
    font-size: 1.5rem;
    vertical-align: middle;
}
